@Rust: 	#c1440e;

.MainFont(){
	font-family: "Share Tech Mono";
}

html, body {
	margin: 0;
	padding: 0;
	background: @Rust;
	.MainFont();
}

div.panel {
	display: inline-block;
	width: 300px;
	margin: 10px;
	padding: 10px;
	background: white;
}

div.module {

	h2 {
		margin: 10px;
		font-size: 25px;
		line-height: 30px;
	}

}

button {
	.MainFont();
	margin: 10px;
	padding: 10px;
	font-size: 15px;
	line-height: 20px;
	border: none;
	outline: none;
	color: white;
}