@Rust: #c1440e;
@Charcoal: #1a1a1a;

.MainFont(){
	font-family: "Share Tech Mono";
}

html, body {
	margin: 0;
	padding: 0;
	background: @Rust;
	.MainFont();
}

.BoxModel(){
	margin: 10px;
	padding: 10px;
}

div.terminal {
	.BoxModel();
	background: @Charcoal;
	color: white;
}

div.panel {
	.BoxModel();
	display: inline-block;
	background: white;
}

div.module {

	width: 300px;

	h2 {
		margin: 10px;
		font-size: 25px;
		line-height: 30px;
	}

}

button {
	.MainFont();
	.BoxModel();
	font-size: 15px;
	line-height: 20px;
	background: @Rust;
	border: none;
	outline: none;
	color: white;
}